html {
  color: black;
}

body {
  font: 12px/20px "Trebuchet MS",SimSun;
}

div {
  display: block;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border: 0;
  font: 12px/20px Arial,Helvetica,sans-serif;
  -moz-user-select: -moz-none;
}


fieldset, img {
  border: 0 none;
}

.logo, .logo-box {
  float: left;
}

.logo img {
  height: 44px;
  width: 108px;
}

.search-bar {
  height: 25px;
  right: 10px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
  width: 188px;
}

#search-sug-input {
  background: url("./black.png") no-repeat scroll 0 -132px transparent;
  border: medium none;
  color: #333333;
  height: 18px;
  line-height: 18px;
  outline: medium none;
  overflow: hidden;
  padding: 3px 32px 3px 12px;
  width: 146px;
}


#search-sug-submit {
  background: none repeat scroll 0 0 white;
  border: 0 none;
  cursor: pointer;
  display: block;
  height: 25px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}


.layout-hd {
  background-position: 0 0;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./bg1.png");
  background-repeat: repeat-x;
  overflow-y: visible;
  z-index: 40;
}

.layout-bd {
  bottom: 76px;
  overflow: hidden;
  position: fixed;
  top: 44px;
}

.ui-watermark-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  _display: inline;
  _zoom: 1;
}


.column1 {
  background: url("bg2.png") repeat-y scroll 0 0 transparent;
  border-right: 1px solid #C1C1C1;
  width: 171px;
  height: 100%;
}


.leftbar {
  margin-top: 10px;
}

.column1 .playing {
  background: none repeat scroll 0 0 #E7E7E7;
}

.column1 .list-hover {
  background-color: #E3E3E3;
}

.column1 .list-temp, .column1 .list-favor {
  height: 25px;
  line-height: 25px;
  margin: 0 10px;
  position: relative;
}
.column1 .list {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  padding: 1px 0;
  position: relative;
}
.column1 .list, .column1 .mylist {
  cursor: pointer;
}
.column1 .list-all ul, .column1 .list-all .add-list, .column1 .list {
  cursor: pointer;
  padding-right: 15px;
}


.column1 .selected .list-temp-icon {
  background: url("black.png") no-repeat scroll -24px -456px transparent;
}

.column1 .selected .text, .column1 .selected p {
  color: #FFFFFF;
}

.column1 .playing .listening-icon {
  background: url("//mu6.bdstatic.com/player/t/i/e5L45fcu.gif") no-repeat scroll center center transparent;
  display: block;
}

.column1 .selected .listen-icon-playing {
  background: url("music.gif") no-repeat scroll center center transparent;
}

.column1 .selected {
  background: none repeat scroll 0 0 #4BA9E6;
}

.column1 .icon {
  display: block;
  float: left;
  height: 13px;
  margin: 6px 6px 0 8px;
  overflow: hidden;
  width: 13px;
}

.column1 .listening-icon {
  display: none;
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 0;
  width: 15px;
}

.column1 .list-temp, .column1 .list-favor {
  height: 25px;
  line-height: 25px;
  margin: 0 10px;
  position: relative;
}

.list-favor .icon {
  background: url("black.png") no-repeat scroll -324px -23px transparent;
  line-height: 25px;
}


.column2 {
    overflow-x: auto;
}
.column2 {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: medium none;
  border-top: medium none;
  left: 0px;
  overflow: hidden;
  right: 206px;
}

.tab-main, .tab-content {
  height: 100%;
}
.tab-main {
  overflow-y: hidden;
  width: 100%;
}


.tab-content {
  width: 100%;
}
.cfix {
  clear: both;
}
.tab-main, .tab-content {
  height: 100%;
}

.tab-page {
  height: 100%;
  width: 100%;
}


.ui-reelList-header {
  background: url("black.png") repeat-x scroll 0 -636px transparent;
  border-bottom: 1px solid #DAD8D8;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
  width: 100%;
  z-index: 3;
}
.ui-reelList-header {
  position: relative;
}

.ui-reelList-header-column {
  padding: 0 15px;
}
.ui-reelList-header-column {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}


.ui-reelList-checkbox {
  float: left;
}
.ui-reelList-checkbox {
  height: 30px;
  line-height: 30px;
  width: 31px;
}

.ui-reelList-header .c1, .ui-reelList-header .c2 {
  background: url("separate1.png") no-repeat scroll 8px 0 transparent;
}
.c3 {
  left: 84%;
  right: 0;
}
.c2 {
  left: 59%;
  right: 16%;
}
.c1 {
  left: 35%;
  right: 41%;
}
.c0 {
  left: 0;
  right: 65%;
}


.column3 {
  background: url("bg3.png") repeat-y scroll 0 0 transparent;
  border-left: 1px solid #C1C1C1;
  overflow: hidden;
  right: 0;
  width: 205px;
}


#myFooter {
  background: url("black.png") repeat-x scroll 0 -804px transparent;
  border-top: 1px solid #D8D8D8;
  bottom: 0;
  height: 35px;
  line-height: 35px;
  position: absolute;
  width: 100%;
  z-index: 3;
}


.select-all-combo {
  color: #333333;
  cursor: default;
  float: left;
  font-size: 12px;
  line-height: 35px;
  margin: 0 15px 0 18px;
}

.select-all-unchecked {
  background: url("black.png") no-repeat scroll -203px -149px transparent;
}
.select-all-checkbox {
  float: left;
  height: 13px;
  margin-right: 15px;
  margin-top: 11px;
  width: 13px;
}


.select-all-text {
  float: left;
}

.playlist-button {
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  float: left;
  margin: 5px;
}

.store-button {
  background: url("black.png") no-repeat scroll -72px -408px transparent;
  float: left;
  height: 25px;
  width: 65px;
}

.add-button {
  background: url("black.png") no-repeat scroll -144px -372px transparent;
  float: left;
  height: 25px;
  width: 65px;
}

.delete-button {
  background: url("black.png") no-repeat scroll 0 -348px transparent;
  float: left;
  height: 25px;
  width: 65px;
}

.deletefromhere-button {
  background: url("black.png") no-repeat scroll 0 -240px transparent;
  float: left;
  height: 25px;
  width: 113px;
}


.playlist-length {
  color: #333333;
  float: right;
  font-size: 12px;
  line-height: 35px;
  margin-right: 30px;
}

.minwidth {
  min-width: 600px;
}

.layout-ft {
  background-position: 0 -73px;
  bottom: 0;
  height: 76px;
  left: 0;
  overflow: auto;
  position: absolute;
  text-align: right;
  width: 100%;
}


.layout-ft {
  background-image: url("black.png");
  background-repeat: repeat-x;
  overflow-y: visible;
  z-index: 40;
}


.panel {
  background: url("black.png") repeat-x scroll 0 -684px transparent;
  height: 76px;
  overflow-y: hidden;
  width: 100%;
}


.left-panel {
  float: left;
  height: 100%;
  width: 170px;
}


.play-btn {
  height: 45px;
  list-style: none outside none;
  margin: 20px 0 20px 24px;
  padding: 0;
}

.ui-dialog ul, li {
  margin: 0;
  padding: 0;
}

.wg-button {
  border: medium none;
  cursor: pointer;
  display: inline-block;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
}

.play-btn .play, .play-btn .stop {
  margin: 0 29px;
}

.play-btn li {
  float: left;
  list-style: none outside none;
  padding: 0;
}

.prev a {
  background: url("black.png") no-repeat scroll -84px -540px transparent;
}

.prev a.wg-button-hover {
  background: url(black.png) no-repeat -96px -564px;
}

.prev a, .next a {
  display: block !important;
  float: left;
  height: 21px;
  margin-top: 9px;
  text-indent: -999px;
  width: 21px;
}

.play a {
  display: block !important;
  float: left;
  height: 40px;
  text-indent: -999px;
  width: 29px;
}

.play a {
  background: url("black.png") no-repeat scroll -36px -492px transparent;
}

.play a.wg-button-hover {
  background: url(black.png) no-repeat 0px -493px;
}


.stop a {background: url(black.png) no-repeat -72px -492px;}

.stop a.wg-button-hover {
  background: url(black.png) no-repeat -108px -493px;
}


.next a {
  background: url("black.png") no-repeat scroll -72px -313px transparent;
}

.next a.wg-button-hover {
  background: url(black.png) no-repeat -167px -168px;
}


.right-panel {
  float: right;
  height: 100%;
  width: 218px;
}

.right-panel {
  overflow: hidden;
}

ol, ul {
  list-style: none outside none;
}

.ui-dialog ol, ul {
  list-style: none outside none;
}


.right-panel .playmod {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 43px;
}

.ui-dialog ul, li {
  margin: 0;
  padding: 0;
}

.playmod li {
  float: left;
}

.playmod a {
  background-repeat: no-repeat;
  display: block !important;
  height: 15px;
  text-indent: -999px;
  width: 18px;
}

.playmod .random-mode a {
  background: url("black.png") no-repeat scroll -72px -564px transparent;
}

.playmod .random-mode a.cur {
  background: url(button1.png) no-repeat 0px -48px;
}

.playmod .single-mode {
  margin: 0 10px;
}

.playmod .single-mode a {
  background: url("black.png") no-repeat scroll -192px -444px transparent;
}

.playmod .single-mode a.cur {
  background: url(button1.png) no-repeat 0px 0px;
}


.playmod .list-mode a.cur {
  background: url("button1.png") no-repeat scroll 0 -24px transparent;
}

.right-panel .volume {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-left: 25px;
  margin-top: 43px;
}

.volume .mute, .volume .muted {
  background-repeat: no-repeat;
#  display: block !important;
  float: left;
  height: 16px;
  text-indent: -999px;
  width: 16px;
}


.volume .mute {
  background: url("black.png") no-repeat scroll -144px -492px transparent;
}

.volume .muted {
  background: url(button2.png) no-repeat -300px 0px;
  display:none;
}

.volume .vol-slider-wrapper {
  float: left;
  margin-left: 6px;
  width: 75px;
}


#volSlider {
  background: url("black.png") no-repeat scroll 0 -540px transparent;
  border: medium none;
  border-radius: 2px 2px 2px 2px;
  height: 4px;
  margin-top: 6px;
  position: relative;
  width: 100%;
}

#volSlider .ui-slider-range {
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  font-size: 1px;
  height: 3px;
  left: 0;
  line-height: 3px;
  position: absolute;
  top: 0;
}

#volSlider .ui-slider-handle {
  background: url("black.png") no-repeat scroll -192px -492px transparent;
  border: 0px;
  height: 13px;
  left: 0;
  margin: -4px 0 0 -7px;
  outline: medium none;
  position: absolute;
  top: 0;
  width: 13px;
}

.jp-jplayer {
#  display: none;
}

.jp-volume-bar {
  width: 100%;
  height: 4px;
  background: url(black.png) no-repeat 0px -540px;
  border-radius: 2px;
  margin-top: 6px;
  position: relative;
  border: none;
}

.jp-volume-bar-value {
  background-color:white;
  height: 3px;
  border-radius: 5px;
  font-size: 1px;
  line-height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.main-panel {
  height: 100%;
  overflow: hidden;
  color: white;
}

.main-panel .title-wrapper {
  margin: 10px 0;
  font-size: 14px;
  height: 20px;
  overflow: hidden;
  float: left;
  padding-left: 20px;
  line-height: 20px;
}

.main-panel .title, .main-panel .icons {
  color: white;
  height: 20px;
  text-align: left;
  float: left;
  overflow: hidden;
}

.main-panel a {
  color: white;
  text-decoration: none;
}

.main-panel .title-wrapper .split {
  padding: 5px;
}

.main-panel .title, .main-panel .icons {
  color: white;
  height: 20px;
  text-align: left;
  float: left;
  overflow: hidden;
}

.main-panel .icons {
  margin-left: 30px;
  height: 20px;
  overflow: hidden;
}

.main-panel .icons .favor, .main-panel .icons .share, .main-panel .icons .voice-of-china {
  float: left;
  margin-top: 2px;
  line-height: 14px;
  list-style: none;
}

.favor a {
  background: url(black.png) -191px -515px no-repeat;
  text-indent: -999px;
  display: block !important;
  width: 20px;
  height: 16px;
  margin-right: 15px;
  cursor: pointer;
}

.unfavor a {
  background: url(button2.png) -383px 1px no-repeat;
}

.main-panel .icons .favor, .main-panel .icons .share, .main-panel .icons .voice-of-china {
  float: left;
  margin-top: 2px;
  line-height: 14px;
  list-style: none;
}

.share a {
  background: url(black.png) -149px -174px no-repeat;
  text-indent: -999px;
  display: block !important;
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.pane {
  overflow: hidden;
  clear: both;
  padding-left: 20px;
}

.pane .time {
  float: right;
  width: 90px;
  font-size: 10px;
  line-height: 20px;
  margin-right: 17px;
  text-align: center;
  overflow: hidden;
}

.pane .progress-wrapper {
  margin-right: 107px;
  height: 20px;
}

#progressSlider.ui-slider-horizontal {
  height: 8px;
  position: relative;
  background: url(black.png) 0px -672px repeat-x scroll;
  margin-top: 7px;
  border: none;
}

#progressSlider.ui-slider-horizontal .ui-slider-left, #progressSlider .ui-slider-right {
  position: absolute;
  top: 0;
  width: 3px;
  height: 9px;
  z-index: 100;
  font-size: 1px;
}

#progressSlider.ui-slider-horizontal .ui-slider-left {
  left: -1px;
  background: url(black.png) -192px -324px no-repeat;
}

#progressSlider.ui-slider-horizontal .ui-slider-right {
  right: -1px;
  background: url(black.png) -200px -468px no-repeat;
}

#progressSlider.ui-slider-horizontal .ui-slider-range {
  background: url(button1.png) 0px -184px repeat-x scroll;
  width: 0;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  border: none;
  font-size: 1px;
}

#progressSlider.ui-slider-horizontal .ui-slider-progressbar {
  background: url(black.png) 0px -792px repeat-x scroll;
  width: 0;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border: none;
  font-size: 1px;
}

#progressSlider.ui-slider-horizontal .ui-slider-handle {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  z-index: 101;
  margin: -5px 0 0 -9px;
  background: url(black.png) no-repeat -180px -540px;
  border: 0px;
  font-size: 1px;
  cursor: pointer;
  outline: none;
}

#progressSlider.ui-slider-horizontal .ui-slider-handle-loading span {
  display: block;
  margin: 4px;
  width: 10px;
  height: 10px;
  background: url(loading.gif) no-repeat center center;
}

.ui-reelList-viewport {
  width: 100%;
  height: 450px;
  overflow: auto;
  position: relative;
}

.ui-reelList-canvas {
  width: 100%;
  zoom: 1;
  position: relative;
 # overflow: hidden;
}

.ui-reelList-row {
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 0px;
}

.ui-reelList-active {
  color: white;
  background: #4BA9E6 !important;
}

.ui-reelList-cell {
  position: absolute;
  top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  -moz-user-select: none;
  cursor: default;
  padding: 0 15px;
  height: 30px;
}

.ui-reelList-checkbox {
  width: 31px;
  height: 30px;
  line-height: 30px;
  float: left;
}

.ui-reelList-checkbox span {
  display: block;
  margin: 8px 5px 8px 3px;
  content: " ";
  width: 13px;
  height: 13px;
  line-height: 13px;
  font-size: 1px;
  background: url(black.png) no-repeat -203px -149px;
}

.ui-reelList-active .listening-icon {
  display: block;
  float: left;
  height: 25px;
  width: 15px;
  margin-right: 8px;
  background: url(music.gif) no-repeat center center;
}

.heartColumn {
  overflow: visible;
  height: 100%;
}

.emptyHeart.ui-reelList-active .playlist-heart {
  background: url(button1.png) no-repeat 0px -72px;
}

.emptyHeart .playlist-heart {
  background: url(black.png) no-repeat -144px -468px;
  visibility: visible;
}

.ui-reelList-active .playlist-heart {
  background: url(button2.png) no-repeat -336px -24px;
}

.fullHeartShow .playlist-heart {
  background: url(button2.png) no-repeat -360px -24px;
  visibility: visible;
}

.gray {
  background: #EAEAEA;
}

.jp-playlist-current {
  background: #4BA9E6 !important;
}

.album-wrapper .album {
  width: 100%;
  text-align: center;
  margin: 20px 0 11px;
  color: #333;
}

.album-wrapper .album a {
  width: 135px;
  overflow-x: hidden;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  outline: none;
}

.album-wrapper .album img {
  width: 135px;
  height: 135px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #999;
}

.album-wrapper .album-name {
  margin-top: 2px;
}

.album-wrapper .album-name a {
  width: 80%;
  color: #333;
  height: 20px;
  line-height: 20px;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column3 .split, .column3 .split2 {
  height: 1px;
  overflow: hidden;
  width: 100%;
  background: url(black.png) 0px -480px no-repeat;
}

.column3 .lrc-wrapper {
  height: 287px;
  color: #666;
  overflow-y: auto;
  position: relative;
}

.column3 .lrc-wrapper ul {
  padding: 0 25px;
  position: relative;
}

.column3 .lrc-wrapper li {
  text-align: center;
}

.column3 .lrc-wrapper .curr {
  color: #1D94E1;
}

.options a {
  display: block;
  width: 11px;
  height: 11px;
  line-height: 11px;
  font-size: 1px;
  float: left;
  margin: 0 30px;
  text-decoration: none;
}

.options a.delete {
 # background: url(black.png) no-repeat -204px -468px;
 margin-top: 8px;
}

